/*@import "antd/dist/antd.css";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Favorit';
    src: url('./subset-Favorit-Regular.woff2') format('woff2'),
    url('./subset-Favorit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Favorit Extended';
    src: url('./subset-Favorit-ExtendedRegular.woff2') format('woff2'),
    url('./subset-Favorit-ExtendedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 20px;
    background: #f5f5f5;

    @apply font-sans;
}
