/*@import "antd/dist/antd.css";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Favorit';
    src: url('./subset-Favorit-Regular.woff2') format('woff2'),
    url('./subset-Favorit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Favorit Extended';
    src: url('./subset-Favorit-ExtendedRegular.woff2') format('woff2'),
    url('./subset-Favorit-ExtendedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('./ibm-plex-mono-numbers.woff2') format('woff2');
}

html {
    font-size: 16px;
}

body {
    --bg-color: #fafafa;

    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 20px;
    background: var(--bg-color);
    color: #0F0401;

    @apply font-sans;
}
